.section_last {
	&__bg {
		background-image: url(../../img/bg/coverFinalBgrnd@2x.jpg);
		height: 437px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 7px;
		padding: 0 15px;
		margin-bottom: 56px;
		position: relative;
	}

	.invate	{
		line-height: 1.5;
		position: absolute;
		display: block;
		width: 100%;
		top: 392px;
		left: 0;

			&__slogan {
			color: #fff;
			opacity: .8;
		}
	}
}

.comments {
	margin-bottom: 109px;
}