// Секция под футер для сайта

footer.main-footer
	.container
		.row
			.col-md-12
				.footer-top
					a.footer-link(href="#") 价格
					a.footer-link(href="#") 联系我们
					a.footer-link(href="#") 下载
					a.footer-link(href="#") 合作伙伴
				.footer-separate
				.footer-bottom
					span.copyright © 2014–2018 
					a.copy(href="index.html") 共享器
					a.footer-link(href="#") 隐私政策	
					a.footer-link(href="#") 手册	
					a.footer-link(href="#") 服务条款	
					a.footer-link(href="#") 卸载	