// Секция под шапку сайта

.container
	.row
		.col-md
			header.main-header
				h1.heading_1.heading_1--header.wow.slideInDown How to reset Android phone remotely
				.main-header__account.wow.slideInUp
					img.main-header__account-img(src="../../img/avatars/avatarimage.png" srcset="../../img/avatars/avatarimage@2x.png 2x" alt="avatar")
					.main-header__account-data Olga Weis • 16 May, 2018