// Секция 7

section.section_last.my_section
	.container
		.section_last__bg
			.row
				.col-md-10.offset-md-1
					.subscribe-block.subscribe-block--shadow.subscribe-block--gray.wow.fadeIn
						.subscribe-block__cta
							h2.heading_2.subscribe-block__cta-slogan Start your free trial today
							.subscribe-block__cta-descr 7-day Trial • Cancel anytime
						.sign-in
							form(class="form" novalidate)
								input.sign-in__input(type="email" placeholder="Your email address")
								button.sign-in__submit.button.button--submit(type="submit") Get started

			
					.invate.text-center
						span.invate__slogan Already a ProductName user?
						a(href="#") Sign In →

		.row
			.col-md-10.offset-md-1
				.comments
					