// Секция 3
section.section_3.method.dark
	.container
		.row
			.col-lg-10.offset-lg-1.col-md
				h2.heading-2.heading_2--purple Method 1: Simplest way to get help #[br] with Android phone reset
	
		.method__content
			.row
				.col-lg-6.offset-lg-1.col-md-7
					.method__content-left
						img.method__content-left-img(src="../../img/logo/logoLarge.png" srcset="../../img/logo/logoLarge@2x.png 2x" alt="Image_1")
						h2.heading-2.heading_2--content ProductName #1
						h3.heading-3.
							Share USB over IP network and access remote #[br] USB and serial devices from anywhere!
						p.method__text.
							The easiest way will be to use ProductName, an app that lets you access and share remote USB devices over IP. Figure out how to share scanner between two computers with ProductName help.

				.col-lg-5.col-md-5
					img.method__content-right(src="../../img/tempateOneImage.png" srcset="../../img/tempateOneImage@2x.png 2x" alt="Image_1")

		.method__content
			.row
				.col-lg-10.offset-lg-1.col-md
					.subscribe-block.subscribe-block--shadow.wow.slideInUp
						.subscribe-block__cta
							.subscribe-block__cta-slogan Start your free trial today
							.subscribe-block__cta-descr 7-day Trial • Cancel anytime
						.sign-in
							form(class="form" novalidate)
								input.sign-in__input(type="email" placeholder="Your email address")
								button.sign-in__submit.button.button--submit(type="submit") Get started

			.row
				.col-lg-5.offset-lg-1.col-md-6
					.subscribe-descr
						.subscribe-descr__stars
							+icon("star", "star-opacity")
							+icon("star", "star-opacity")
							+icon("star", "star-opacity")
							+icon("star", "star-opacity")
							+icon("star", "star-opacity")
						.subscribe-descr__rank 4.5 rank based on 988 users
						.subscribe-descr__bottom.
							Windows XP and later, OS X 10.9+, Ubuntu 14.04+, #[br] Android 4.0 and above.
				.col-lg-5.col-md-6
					.invate.text-right
						span.invate__slogan Already a ProductName user?
						a(href="#") Sign In →
										
