// Секция 6.2
section.section_6_2.my-section
	.container
		.row
			.col-md-8.offset-md-2
				h2.heading_2.
					Related Articles
				ul.section__list--ul.list--purple
					li.section__item 
						span How to access USB device in Virtual Machine
					li.section__item 
						span Share COM port over Network
					li.section__item 
						span Remote Cell Phone Unlock