// Секция 1

section.section_1.my-section
	.container
		.row
			.col-md-8.offset-md-2

				.section__content
					h2.heading_2 How to reset Android phone remotely
					p.section__text.
						Factory Reset Protection is a part of Device Protection, a feature added by Google in March 2015 for Android devices with 5.1 and later versions. If your phone has this feature enabled – most probably it does – you can factory reset an Android phone only under the login credentials you used when the device was new.
					p.section__text.
						This functionality is basically meant to keep thieves off your phone – even if someone gets hold of it, they won’t be able to wipe it clean and sell it off without knowing your login credentials.

				blockquote.section__blockquote.
					However, as it is always the case with security features, Factory Reset Protection can become either your best friend or your greatest enemy.

				.section__content
					p.section__text.
						Considering the number of accounts, passwords and PINs we use every day, it is highly possible that one day you might just forget what Google account you used when setting up your phone.
					p.section__text.
						Or, say, you bought a used phone and the previous user did not remove google account from Android. What do you do then? How to remove a google account from Android? Is there a way to bypass Google account verification?