// Секция 6.1
section.section_6_1.my-section
	.container
		.row
			.col-md-8.offset-md-2
				h2.heading_2.wow.slideInUp.
					Still would like to bypass FRP yourself? Here are some more specific steps to follow to remove Google account from phone:

				p.section_6__text.text--separate.
					Well, there is a trick for certain phones – you need to launch settings from a USB-OTG cable/drive, do the factory reset in the Backup settings and clean up all data related to Google accounts. Do the reset again and Factory Reset Protection is bypassed successfully, now you can setup your device anew.