// Секция 6.2
section.section_6_2.my-section
	.container
		.row
			.col-md-8.offset-md-2
				h2.heading_2.wow.slideInDown.
					Related Articles
				ul.section__list--ul.list--purple
					li.section__item 
						a(href="#") How to access USB device in Virtual Machine
					li.section__item 
						a(href="#") Share COM port over Network
					li.section__item 
						a(href="#") Remote Cell Phone Unlock