// Секция 7

section.section_7.my_section
	.container
		.section_7__bg
			.row
				.col-md-10.offset-md-1
					.subscribe-block.subscribe-block--shadow.justify-content-between
						.subscribe-block__cta
							.subscribe-block__cta-slogan Start your free trial today
							.subscribe-block__cta-descr 7-day Trial • Easy to use • Cancel anytime
						.sign-in
							form
								input.sign-in__input(type="text" placeholder="Your email address")
								button.sign-in__submit.button.button--submit(type="submit") Get started

			.row
				.col-md-12
					.invate.text-center
						span.invate__slogan Already a ProductName user?
						a(href="#") Sign In →

		.row
			.col-md-10.offset-md-1
				.comments