// Секция 6
section.section_6.my-section

	.container
		.row
			.col-md-8.offset-md-2

				h2.heading_2.wow.slideInUp What benefits can SupportKing offer you?
				p.section_6__text.
					Still would like to bypass FRP yourself? Here are some more specific steps to follow to remove Google account from phone

		.row
			.col-md-7.offset-md-2

				ul.section__list--ul
					li.section__item
						span Positive result is 100% guaranteed
					li.section__item 
						span You save your time
					li.section__item 
						span Your phone data will remain intact, as the professionals do their job
					li.section__item 
						span An ideal option for those with little technical knowledge

				h2.heading_2.wow.slideInUp Cons
				ul.section__list--ul
					li.section__item 
						span If No Unlock - Money Back Guarantee
					li.section__item 
						span 24/7 Live Chat - Lifetime Access
					li.section__item 
						span Warranty Protection
