// Секция 2

section.section_2.my-section
	.container
		.row
			.col-md-8.offset-md-2
				h2.heading_2.wow.slideInDown How to bypass FRP?
				p.section__text.
					Not everyone is ready to spend precious time waiting for the technician to come over and unlock the phone. #[a(href="#") The modern market deals] with that problem offering a number of services that will remove FRP from your Android device remotely.