// Секция 5

section.section_5.method.gray
	.container
		.row
			.col-md-10.offset-md-1
				h2.heading_2.heading_2--purple.wow.slideInUp.heading_2--section_gray Method 1: Simplest way to get help #[br] with Android phone reset

		.method__content
			.row
				.col-md-6.offset-md-1
					.method__content-left
						h2.heading_2.heading_2--content.wow.slideInUp.heading_2--content-gray ProductName #2
						h3.heading_3.heading_3--gray.
							Share USB over Ethernet for Windows
						p.method__text--section_gray.
							ProductName is a software that helps you access USB devices as if they were directly connected to your machine. The way it works is pretty similar to ProductName.
						a.button.button--light(href="#") Get in now
						.subscribe-descr
							.subscribe-descr__stars
								+icon("star", "star-purple")
								+icon("star", "star-purple")
								+icon("star", "star-purple")
								+icon("star", "star-purple")
								+icon("star", "star-purple")
							.subscribe-descr__rank.subscribe-descr__rank--section_5 4.5 rank based on 988 users
							.subscribe-descr__bottom.subscribe-descr__bottom--section_5.
								Windows XP and later, OS X 10.9+, Ubuntu 14.04+, #[br] Android 4.0 and above.	

				.col-md-5
					img.method__content-right(src="img/tempateTwoImage.png" srcset="img/tempateTwoImage@2x.png 2x" alt="Image_2")
									