@media (max-width: 1280px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 800px) {

	.toggle-menu {
		display: inline-block;
	}

	.top-nav {
		padding: 15px;
		&__menu {
			display: none;
		}
	}
			
	.subscribe-block {
		display: none;
		&--mobile {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			padding: 22px 16px 32px;
		}
		&__cta-descr {
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 615px) {
	.subscribe-block {
		&--mobile {
			justify-content: flex-start;
		}
		&__cta {
			text-align: left;

			&-descr {
			margin-bottom: 8px;
			}
		}
	}
	.sign-in {
		width: 100%;
		&__input {
			width: 100%;
		}
	}
}	